<!DOCTYPE html>
<html>
<head>
    <title>Reload Command</title>
</head>
<body>
<h1>###TRAD-CONNECT## Reload API </h1>
<p>Click the button to trigger the reload services</p>

<form method="POST" action="/reload">
    <input type="hidden" name="secret" value="TC-reactor-reload-SG">

    <p><i>TCreactor-SG/HK</i></p>
    <button type="submit">Reload</button>
</form>

<form method="POST" action="/reload">
    <input type="hidden" name="secret" value="TC-reactor-reload-JP">

    <p><i>TCreactor-JP</i></p>
    <button type="submit">Reload</button>
</form>


<form method="POST" action="/reload">
    <input type="hidden" name="secret" value="tc-bloombergpub-reload">

    <p><i>TCBloombergPub2-TRFI,TRHB (SGD Bill/Bonds)</i></p>
    <button type="submit">Reload</button>
</form>
<div><a href="http://172.26.34.52:9000/tc-command-center/">Switch theme</a></div>

</body>
</html>
